{
  "env": {
    "browser": true
  },
  "rules": {
    "no-use-before-define": [ "error", "nofunc" ],
    "no-underscore-dangle": "off",
    "class-methods-use-this": "off",
    "arrow-body-style": "off",
    "no-param-reassign": "off",
    "no-confusing-arrow": "off",
    "no-return-assign": "off"
  },
  "globals": {
    "angular": true
  },
  "extends": "airbnb-base"
}
