<div class="artistV">
  <div class="banner" style="background-image: url({{artistC.artist.banner}})">
  </div>
  <div class="nav">
    <div class="top">
      <div class="contained">
        <div class="left">
          <div class="avatar" style="background-image: url({{artistC.artist.avatar}})">
          </div>
          <div class="meta">
            <div class="name"> {{artistC.artist.displayName}} </div>
            <div class="following"> {{artistC.artist.following}} Followers </div>
          </div>
        </div>
        <div class="right">
          <button class="btn" type="button">Follow</button>
        </div>
      </div>
    </div>
    <div class="bottom">
      <div class="tab active">Feed</div>
      <div class="tab">Content</div>
      <div class="tab">Concerts/Tours</div>
      <div class="tab">About</div>
    </div>
  </div>
</div>
